.addtask {
  background-color: #181825;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.inp {
  font-size: 18px;
  width: 98%;
  color: #cdd6f4;
  background-color: #313244;
  border: none;
  padding: 5px;
  margin: 6px 5px;
  border-radius: 5px;
}

.save {
  width: 50%;
  padding: 5px;
  background-color: #1e1e2e;
  border: solid #11111b 2px;
  border-radius: 5px;
  color: #cdd6f4;
}