.addtask {
  background-color: #181825;
  padding: 6px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.inp {
  font-size: 18px;
  width: 100%;
  color: #cdd6f4;
  background-color: #313244;
  border: none;
  margin: 0 0 12px 0;
  border-radius: 5px;
}

.save {
  width: 50%;
}